body
  background #e9ebee
*
  box-sizing border-box
  border none
  margin 0
  padding 0

.container
  max-width 1080px
  margin 0 auto
  padding-top 55px

.app-header
  height 50px
  width 100%
  position relative
  background #222
  box-shadow 0 0 5px #00000080
  color #ddd
  position fixed
  z-index 100
  .wrap
    max-width 1080px
    margin 0 auto
    position relative
  .logo-title
    display inline-block
    height 50px
    line-height 50px
    font-size 24px

.list-wrap
  display flex
  flex-wrap wrap
  justify-content center
  margin 2px
