.show
  display block !important

.hide
  display none !important

.ion
  width 42px
  height 42px
  line-height 42px
  font-size 32px
  text-align center

.loading-wrap
  text-align center
  span
    display inline-block

.loading
  background-image url("../image/loading.gif")
  width 80px
  height 80px

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

a
  color #337ab7
  text-decoration none
