.chapter-container
  width 800px
  margin 0 auto
  padding 20px 30px
  box-shadow 0 0 15px 0 #CCC
  background #F6F4EC
  border-radius 3px
  position relative
  .chapter-title
    border-bottom 1px solid #E3E1D9
    font-size 26px
    padding 10px
  .chapter-content
    padding 10px
    font-size 14px
    text-indent 28px

.setting
  position absolute
  left -62px
  top 15px
  .reader-menu
    text-align center
    .menu-item
      box-shadow 0 0 5px #BBB
      border-radius 5px
      background #F6F4EC
      margin-bottom 2px
      width 60px
      height 60px
      cursor pointer
      padding-top 10px
      span
        font-size 22px
